# Ignore unwanted files  
.etraction.py.un~
.ipynb_checkpoints/
Lib/
cripts/
ib.org).pdf
__pycache__
etc/
etraction.py~
pyvenv.cfg
        
Scripts/
      
    Document Presentation_Chapter_7.pptx
        Document Presentation_Chapter_8.pptx
        Document Presentation_Chapter_9.pptx
        Scripts/
        Software Engineering A Practitioners Approach by Roger Pressman, Bruce Maxim (z-lib.org).pdf     
share/
        
       

